# Specific files and folders to ignore
/user_data/**
/core_libraries/build/**
**.DS_Store**
scripts/PIPELINE*
scripts/fMRI_HUP2BIDS/temporary_files/*
scripts/fMRI_HUP2BIDS/config_files/*
scripts/fMRI_HUP2BIDS/output_files/*
scripts/fMRI_HUP2BIDS/__pycache__/*
unit_tests/machine_level/__pycache__/*
unit_tests/model_level/__pycache__/*
.pytest_cache
.vscode

# Filetypes to ignore
*.edf
*.nii
*.nii.gz
*.[0-9]

*.mat
*.npy
*.pickle
*.pkl

# Exceptions
!/user_data/README.md
